main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #C9EEFF;
}
.content{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.content h3{
  Color: black;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 20px;
  background: #C9EEFF;
  width: 70%;
  max-width: 400px;
  border-radius: 5px;
  padding: 5px;
}


.container{
  background: cadetblue;
  width: 95%;
  padding: 10px;
  padding-bottom: 100px;
}
.info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  max-width: 600px;
  margin: auto;
}
h4{
  margin-left: 15px;
  font-size: 1.6rem;

}
.info img{
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 5px;
}
.info p{
  text-align: center;
  margin: 0 10px;
  font-size: 1rem;
}

form{
  background: #C9EEFF;
  padding: 10px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 80%;
  margin: auto;

}
.radio-group{
  display: flex;
  align-items: center;
}
.radio-group h2{
  font-size: 1.4rem;
  margin: auto 10px;
  font-weight: normal;
}
.money{
  background: #D9D9D9;
  padding: 10px;
  border-radius: 10px;

}
.money button{
  width: 50px;
  border-radius: 3px;
  border: none;
  padding: 5px;
  margin: 0 5px;
  font-size: 0.9rem;
  cursor: pointer;
  background: #808080;
}
.money button.active {
  background-color: cadetblue;
  transform: scale(1.2);
}
.inputbox{
  padding: 10px;

}
.inputbox label{
  font-size: 1.3rem;
  margin: 5px 10px;
}
.inputbox input, select {
  background: #808080;
  width: auto;
  min-width: 50px;
  border: none;
  height: 30px;
  margin: 5px 5px 0;
  padding: 5px 10px;
  border-radius: 2px;
}
option{
  background: cadetblue;
  font-size: 0.8rem;
}


.inputbox h4{
  text-align: center;
  font-size: 1.2rem;
  margin-top: 30px;
}

.outputbox{
  display: flex;
  justify-content: end;
  align-items: center;
}
.outputbox label{
  font-size: 1.3rem;
}
.outputbox p{
  background: cadetblue;
  padding: 10px;
  margin: auto 10px;
  min-width: 100px;
  width: auto;
  border-radius:5px;
  text-align: center;
  font-size: 1rem;
}
button{
  margin: 10px auto;
  width: 200px;
}
button:hover{
  border: 1px solid black;
  cursor: pointer;
  transform: scale(1.1);
}
#volver{
  margin-top: 0;
}
.actions{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.formulario-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: cadetblue;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.formulario-container h3{
  text-align: center;
  margin: 20px auto;
  background: none;
  font-weight: bold;
}

.formulario-container form{
  width: 80%;
  max-width: 500px;
  opacity: 1;
  background: #808080;
  display: flex;
  justify-content: end;
}
.formulario-container input{
  background: #C9EEFF;
}
