
<main>
  <app-header></app-header>
    <div class="register">
      <h2>Registrate</h2>
      <form action="">
        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Apellido">
        <input type="email" placeholder="Correo">
        <input type="password" placeholder="Contraseña">
        <input type="password" placeholder="Contraseña">
        <button type="submit">Registar</button>
      </form>
      <p>Al registrarte, aceptas nuestras Condiciones de uso y Politicas de privacidad.</p>
      <p>¿Ya tienes una cuenta?
        <a href="">Iniciar Sesion</a></p>
    </div>

  <app-footer></app-footer>
</main>
