<main>
  <app-header></app-header>
    <div class="container">
      <form [formGroup]="form" (ngSubmit)="sendClient()">
        <h3>Datos del cliente</h3>
        <div class="inputbox">
          <label>Nombre</label>
          <input type="text" placeholder="Ex. Juan" formControlName="name">
        </div>
        <div class="inputbox">
          <label>Apellido</label>
          <input type="text" placeholder="Ex. Lopez" formControlName="lastName">
        </div>
        <div class="inputbox">
          <label>DNI</label>
          <input type="number" placeholder="76159142"  formControlName="dni">
        </div>
        <button type="submit">Registrar</button>
        <button type="button">Cancelar</button>
      </form>
    </div>

  <app-footer></app-footer>
</main>
