
<main>
  <app-header></app-header>
  <div class="content">
    <h3>San Isidro</h3>
    <div class="container">
      <div class="info">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTALw4lzNMOb_suoWXsaDoFqnY5LhLpc1-NiQ&usqp=CAU" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <form [formGroup]="form">
        <div class="radio-group">
          <h2>Moneda </h2>
          <div class="money">
            <button [ngClass]="{'active': dollar}" (click)="selectDollar()">$</button>
            <button [ngClass]="{'active': pen}" (click)="selectPen()">PEN</button>
          </div>
        </div>

        <div class="inputbox">
          <label>Tasa</label>
          <select formControlName="tasaSelec">
            <option *ngFor="let val of tasa" [value]="val">
              {{val}}
            </option>
          </select>
          <select formControlName="tipoSelec">
            <option *ngFor="let val of tipo" [value]="val">
              {{val}}
            </option>
          </select>
          <select *ngIf="form.controls['tasaSelec'].value === 'TN'" formControlName="capSelec">
            <option value="" disabled selected>Capitaliza</option>
            <option *ngFor="let val of capitaliza" [value]="val">
              {{val}}
            </option>
          </select>
        </div>

        <div class="inputbox" style="margin-bottom: 20px">
          <h4>Perido de gracia meses</h4>
          <label>Tiempo</label>
          <input type="number" placeholder="Tiempo" formControlName="tiempoGracia" style="width: 80px">
          <select formControlName="tipoGracia">
            <option *ngFor="let val of tipoGracia" [value]="val">
              {{val}}
            </option>
          </select>
        </div>

        <div class="inputbox">
          <label>COK</label>
          <input type="number" formControlName="cok" style="width: 70px; margin-bottom: 10px">
          <label>Inicial</label>
          <input type="number" formControlName="inicial" style="width: 80px">
        </div>

        <div class="inputbox">
          <label>Plazo</label>
          <input type="number" formControlName="plasoNum" style="width: 100px">
          <select formControlName="plasoTipo">
            <option *ngFor="let val of plasoM" [value]="val">
              {{val}}
            </option>
          </select>
        </div>

        <div class="outputbox">
          <label>Monto a financiar: </label>
          <p>{{montoFinanciar}}</p>
        </div>

      </form>
    </div>

    <button>Continuar</button>
    <button>Volver</button>

  </div>
  <app-footer></app-footer>
</main>


