table {
  width: 90%;
  margin: 0 auto 60px;
  border-collapse: collapse;

}
h3{
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;
  font-weight: 500;
}
span{
  color:#62CDFF;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}
