/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  background: #62CDFF;
  width: 50%;
  margin: 20px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: 0.5s;
}
button:hover{
  transform: scale(1.2);
  background: #C9EEFF;
}
